<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Stocksharing</span>
      <span *ngIf="!isAuthorized()">
        <button mat-icon-button matTooltip="Войти" [routerLink]="['/login']">
          <mat-icon>input</mat-icon>
        </button>
        <a [routerLink]="['/registration']">
          Зарегистрироваться
        </a>
      </span>
      <button mat-icon-button *ngIf="isAuthorized()" (click)="logout()" matTooltip="Выйти">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <div color="primary">
    <span>Stocksharing.ru</span>
  </div>