<div fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card fxFlex="30">
        <mat-card-title>Вход</mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field appearance="legacy" class="form-field">
                    <mat-label>Введите Email</mat-label>
                    <input matInput [(ngModel)]="data.email" name="email">
                </mat-form-field>
                <mat-form-field appearance="legacy" class="form-field">
                    <mat-label>Введите пароль</mat-label>
                    <input matInput [(ngModel)]="data.password" name="password"
                        [type]="isVisiblePassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix (click)="onToogleVisibility()"
                        matTooltip="{{isVisiblePassword ? 'Скрыть пароль' : 'Показать пароль'}}">
                        <mat-icon>{{isVisiblePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Войти</button>
        </mat-card-actions>
    </mat-card>
</div>